
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#welcome {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 70vh;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

#center {
  text-align: center;
  margin-top: -20vh;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

}
a:hover{
  color: #f66;
}

.m-b-md {
  margin-bottom: 30px;
}